# T81-558: Applications of Deep Neural Networks
* Instructor: [Jeff Heaton](https://sites.wustl.edu/jeffheaton/), School of Engineering and Applied Science, [Washington University in St. Louis](https://engineering.wustl.edu/Programs/Pages/default.aspx)
* For more information visit the [class website](https://sites.wustl.edu/jeffheaton/t81-558/).

**Module 2 Assignment: Creating Columns in Pandas**

**Victor Macia**

# Assignment Instructions

For this assignment, you will use the **reg-33-data.csv** dataset.  This file contains a dataset that I generated specifically for this class.  You can find the CSV file on my data site, at this location: [reg-33-data.csv](http://data.heatonresearch.com/data/t81-558/datasets/reg-33-data.csv).

For this assignment, load and modify the data set.  You will submit this modified dataset to the **submit** function.  See [Assignment #1](https://github.com/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class1.ipynb) for details on how to submit an assignment or check that one was submitted.

Modify the dataset as follows:

* Add a column named *ratio* that is *max* divided by *number*.  Leave *max* and *number* in the dataframe.
* Replace the *cat2* column with dummy variables. e.g. 'cat2_CA-0', 'cat2_CA-1',
       'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', ...
* Replace the *item* column with dummy variables, e.g. 'item_IT-0', 'item_IT-1',
       'item_IT-10', 'item_IT-11', 'item_IT-12', ...
* For field *length* replace missing values with the median of *length*.
* For field *height* replace missing with median and convert to zscore.
* Remove all other columns.
* Your submitted dataframe will have these columns: 'height', 'max', 'number', 'length', 'ratio', 'cat2_CA-0', 'cat2_CA-1',
       'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', 'cat2_CA-13', 'cat2_CA-14',
       'cat2_CA-15', 'cat2_CA-16', 'cat2_CA-17', 'cat2_CA-18', 'cat2_CA-19',
       'cat2_CA-1A', 'cat2_CA-1B', 'cat2_CA-1C', 'cat2_CA-1D', 'cat2_CA-1E',
       'cat2_CA-1F', 'cat2_CA-2', 'cat2_CA-20', 'cat2_CA-21', 'cat2_CA-22',
       'cat2_CA-23', 'cat2_CA-24', 'cat2_CA-25', 'cat2_CA-26', 'cat2_CA-27',
       'cat2_CA-3', 'cat2_CA-4', 'cat2_CA-5', 'cat2_CA-6', 'cat2_CA-7',
       'cat2_CA-8', 'cat2_CA-9', 'cat2_CA-A', 'cat2_CA-B', 'cat2_CA-C',
       'cat2_CA-D', 'cat2_CA-E', 'cat2_CA-F', 'item_IT-0', 'item_IT-1',
       'item_IT-10', 'item_IT-11', 'item_IT-12', 'item_IT-13', 'item_IT-14',
       'item_IT-15', 'item_IT-16', 'item_IT-17', 'item_IT-18', 'item_IT-19',
       'item_IT-1A', 'item_IT-1B', 'item_IT-1C', 'item_IT-1D', 'item_IT-1E',
       'item_IT-2', 'item_IT-3', 'item_IT-4', 'item_IT-5', 'item_IT-6',
       'item_IT-7', 'item_IT-8', 'item_IT-9', 'item_IT-A', 'item_IT-B',
       'item_IT-C', 'item_IT-D', 'item_IT-E', 'item_IT-F'.

In [1]:
# Project 1 - Deep neutral networks - Washington University in St. Louis

# Loading, accesing and modifying a data set using Pandas dataframes

# My solution

import numpy as np
import pandas as pd
import requests
import io
import statistics as st
import math
from scipy.stats import zscore


# Data Loading

url="https://data.heatonresearch.com/data/t81-558/datasets/reg-33-data.csv"
s=requests.get(url).content
df =pd.read_csv(io.StringIO(s.decode('utf-8')))

type(df) # data is a dataframe

print(df)


# Add a column named ratio (max/number). Leave max and number in the dataframe.

df['ratio'] = df['max']/df['number']

# Replace the item column with dummy variables e.g 'item_IT-0','item_IT-1'


df.rename(columns={'cat2': 'cat2_CA-1'}, inplace=True)

check = {'height', 'max', 'number', 'length', 'ratio', 'cat2_CA-0', 'cat2_CA-1',
 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', 'cat2_CA-13', 'cat2_CA-14',
 'cat2_CA-15', 'cat2_CA-16', 'cat2_CA-17', 'cat2_CA-18', 'cat2_CA-19',
 'cat2_CA-1A', 'cat2_CA-1B', 'cat2_CA-1C', 'cat2_CA-1D', 'cat2_CA-1E',
 'cat2_CA-1F', 'cat2_CA-2', 'cat2_CA-20', 'cat2_CA-21', 'cat2_CA-22',
 'cat2_CA-23', 'cat2_CA-24', 'cat2_CA-25', 'cat2_CA-26', 'cat2_CA-27',
 'cat2_CA-3', 'cat2_CA-4', 'cat2_CA-5', 'cat2_CA-6', 'cat2_CA-7',
 'cat2_CA-8', 'cat2_CA-9', 'cat2_CA-A', 'cat2_CA-B', 'cat2_CA-C',
 'cat2_CA-D', 'cat2_CA-E', 'cat2_CA-F', 'item_IT-0', 'item_IT-1',
 'item_IT-10', 'item_IT-11', 'item_IT-12', 'item_IT-13', 'item_IT-14',
 'item_IT-15', 'item_IT-16', 'item_IT-17', 'item_IT-18', 'item_IT-19',
 'item_IT-1A', 'item_IT-1B', 'item_IT-1C', 'item_IT-1D', 'item_IT-1E',
 'item_IT-2', 'item_IT-3', 'item_IT-4', 'item_IT-5', 'item_IT-6',
 'item_IT-7', 'item_IT-8', 'item_IT-9', 'item_IT-A', 'item_IT-B',
 'item_IT-C', 'item_IT-D', 'item_IT-E', 'item_IT-F'}

newpart = {'cat2_CA-0', 'cat2_CA-1',
 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', 'cat2_CA-13', 'cat2_CA-14',
 'cat2_CA-15', 'cat2_CA-16', 'cat2_CA-17', 'cat2_CA-18', 'cat2_CA-19',
 'cat2_CA-1A', 'cat2_CA-1B', 'cat2_CA-1C', 'cat2_CA-1D', 'cat2_CA-1E',
 'cat2_CA-1F', 'cat2_CA-2', 'cat2_CA-20', 'cat2_CA-21', 'cat2_CA-22',
 'cat2_CA-23', 'cat2_CA-24', 'cat2_CA-25', 'cat2_CA-26', 'cat2_CA-27',
 'cat2_CA-3', 'cat2_CA-4', 'cat2_CA-5', 'cat2_CA-6', 'cat2_CA-7',
 'cat2_CA-8', 'cat2_CA-9', 'cat2_CA-A', 'cat2_CA-B', 'cat2_CA-C',
 'cat2_CA-D', 'cat2_CA-E', 'cat2_CA-F', 'item_IT-0', 'item_IT-1',
 'item_IT-10', 'item_IT-11', 'item_IT-12', 'item_IT-13', 'item_IT-14',
 'item_IT-15', 'item_IT-16', 'item_IT-17', 'item_IT-18', 'item_IT-19',
 'item_IT-1A', 'item_IT-1B', 'item_IT-1C', 'item_IT-1D', 'item_IT-1E',
 'item_IT-2', 'item_IT-3', 'item_IT-4', 'item_IT-5', 'item_IT-6',
 'item_IT-7', 'item_IT-8', 'item_IT-9', 'item_IT-A', 'item_IT-B',
 'item_IT-C', 'item_IT-D', 'item_IT-E', 'item_IT-F'}

for x in newpart:
    df[str(x)] = np.nan

# If you know some code or a better way of doing this, please tell us in class.


# For field length replace missing values with the median of length

med = df['length'].median()    
df['length'] = df['length'].fillna(med)

# For field height replace missing values with median and convert to zscore.

med = df['height'].median()    
df['height'] = df['height'].fillna(med)
df['height'] = zscore(df.height)

# Remove all the other columns (we delete the columns which are not 'height', 'max', 'number', 'length', 'ratio', cat2_CA-0, 'cat2_CA-1')


for item in df.columns:
    if item in check:
        pass
    else:
      df.drop(str(item), axis=1, inplace=True)


df

          id convention   height    max   cat2  number  usage region  \
0          1      CO-1A  4284.51  44907   CA-E   16669   US-7   RE-4
1          2       CO-C   806.88  48831   CA-A    8652  US-20  RE-15
2          3      CO-19  2859.80  40760  CA-16   23103  US-17  RE-1D
3          4      CO-2B  5823.87  33597   CA-9   17680  US-10  RE-1D
4          5       CO-5      NaN  29848   CA-9   24136  US-21   RE-4
...      ...        ...      ...    ...    ...     ...    ...    ...
10804  10805      CO-28  1901.75  49087   CA-4   10679   US-3  RE-1D
10805  10806      CO-1A  6365.25  37253   CA-1   19960   US-5   RE-5
10806  10807      CO-10  5918.89  30925  CA-13   27776  US-24  RE-17
10807  10808      CO-2B   503.09  47998  CA-17   25741   US-6  RE-17
10808  10809      CO-2F  6191.13  29149   CA-E   19425   US-1  RE-1C

           length  code     power   item  weight country         target
0      12471.1127  CO-B  27351.36  IT-17   13722    CO-1   44098.106769
1      10035.7085  CO-E  42323.89  IT-1E   33779    CO-0   95567.294044
2      14442.6566  CO-5  30660.91  IT-14   26633   CO-23   48583.507153
3      15121.4937  CO-B  59456.24   IT-8   14537   CO-11  130572.202064
4      18093.9147  CO-4  46998.44   IT-5   21135   CO-1E   85768.812850
...           ...   ...       ...    ...     ...     ...            ...
10804  14191.6477  CO-6  58183.17  IT-1B   10067    CO-F  129359.321055
10805  10687.0503  CO-1  65491.84  IT-1D    7400    CO-C  160892.963119
10806  12387.0003  CO-7  30040.54   IT-B   37882   CO-25   53016.731800
10807  10395.2940  CO-D  46344.43   IT-E   51658    CO-4  106821.090661
10808  17203.1377  CO-F  53174.22   IT-3   18355    CO-C  106308.258095

[10809 rows x 15 columns]

,height,max,cat2_CA-1,number,length,ratio,cat2_CA-19,cat2_CA-1F,cat2_CA-B,item_IT-F,...,item_IT-E,item_IT-17,cat2_CA-0,cat2_CA-1C,cat2_CA-21,cat2_CA-1A,cat2_CA-27,item_IT-18,cat2_CA-E,cat2_CA-1D
0,0.453222,44907,NaN,16669,12471.1127,2.694043,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1.482176,48831,NaN,8652,10035.7085,5.643897,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.339669,40760,NaN,23103,14442.6566,1.764273,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.309919,33597,NaN,17680,15121.4937,1.900283,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.006937,29848,NaN,24136,18093.9147,1.236659,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,-0.872850,49087,NaN,10679,14191.6477,4.596591,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10805,1.611212,37253,NaN,19960,10687.0503,1.866383,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10806,1.362800,30925,NaN,27776,12387.0003,1.113371,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10807,-1.651243,47998,NaN,25741,10395.2940,1.864652,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10808,1.514309,29149,NaN,19425,17203.1377,1.500592,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN