<a href="https://colab.research.google.com/github/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T81-558: Applications of Deep Neural Networks
* Instructor: [Jeff Heaton](https://sites.wustl.edu/jeffheaton/), School of Engineering and Applied Science, [Washington University in St. Louis](https://engineering.wustl.edu/Programs/Pages/default.aspx)
* For more information visit the [class website](https://sites.wustl.edu/jeffheaton/t81-558/).

**Module 8 Assignment: Feature Engineering**

**Student Name: Your Name**

# Assignment Instructions

This assignment is similar to assignment 5, except that you must use feature engineering to solve it.  I provide you with a dataset that contains dimensions and the quality of items of specific shapes.  With the values of 'height', 'width', 'depth'. 'shape', and 'quality' you should try to predict the cost of these items.  You should be able to match very close to solution file, if you feature engineer correctly.  To get full credit your average cost should not be more than 50 off from the solution.  The autocorrector will let you know if you are in this range.

You can find all of the needed CSV files here:

* [Shapes - Training](https://data.heatonresearch.com/data/t81-558/datasets/shapes-train.csv)
* [Shapes - Submit](https://data.heatonresearch.com/data/t81-558/datasets/shapes-test.csv)

Use the training file to train your neural network and submit results for for the data contained in the test/submit file.

In [22]:
try:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    COLAB = True
    print("Note: using Google CoLab")
    %tensorflow_version 2.x
except:
    print("Note: not using Google CoLab")
    COLAB = False

Mounted at /content/drive
Note: using Google CoLab

# Assignment Submit Function

You will submit the 10 programming assignments electronically.  The following submit function can be used to do this.  My server will perform a basic check of each assignment and let you know if it sees any basic problems. 

**It is unlikely that should need to modify this function.**

In [23]:
import base64
import os
import numpy as np
import pandas as pd
import requests
import PIL
import PIL.Image
import io

# This function submits an assignment.  You can submit an assignment as much as you like, only the final
# submission counts.  The paramaters are as follows:
# data - List of pandas dataframes or images.
# key - Your student key that was emailed to you.
# no - The assignment class number, should be 1 through 1.
# source_file - The full path to your Python or IPYNB file.  This must have "_class1" as part of its name.  
# .             The number must match your assignment number.  For example "_class2" for class assignment #2.
def submit(data,key,no,source_file=None):
    if source_file is None and '__file__' not in globals(): raise Exception('Must specify a filename when a Jupyter notebook.')
    if source_file is None: source_file = __file__
    suffix = '_class{}'.format(no)
    if suffix not in source_file: raise Exception('{} must be part of the filename.'.format(suffix))
    with open(source_file, "rb") as image_file:
        encoded_python = base64.b64encode(image_file.read()).decode('ascii')
    ext = os.path.splitext(source_file)[-1].lower()
    if ext not in ['.ipynb','.py']: raise Exception("Source file is {} must be .py or .ipynb".format(ext))
    payload = []
    for item in data:
        if type(item) is PIL.Image.Image:
            buffered = BytesIO()
            item.save(buffered, format="PNG")
            payload.append({'PNG':base64.b64encode(buffered.getvalue()).decode('ascii')})
        elif type(item) is pd.core.frame.DataFrame:
            payload.append({'CSV':base64.b64encode(item.to_csv(index=False).encode('ascii')).decode("ascii")})
    r= requests.post("https://api.heatonresearch.com/assignment-submit",
        headers={'x-api-key':key}, json={ 'payload': payload,'assignment': no, 'ext':ext, 'py':encoded_python})
    if r.status_code==200:
        print("Success: {}".format(r.text))
    else: print("Failure: {}".format(r.text))

# Assignment #8 Sample Code

The following code provides a starting point for this assignment.

In [24]:
import os
import pandas as pd
from scipy.stats import zscore
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout
import pandas as pd
import io
import requests
import numpy as np
from sklearn import metrics
from sklearn.model_selection import KFold
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
from scipy import stats 
from tensorflow.keras import regularizers
import math

# This is your student key that I emailed to you at the beginnning of the semester.
key = "l15XevJfTL81Eylq9Eaw17IR3RqfdfHC8LXMvy6a"  # This is an example key and will not work.

# You must also identify your source file.  (modify for your local setup)
file='/content/drive/My Drive/Colab Notebooks/assignments/assignment_victormacia_class8.ipynb'  # Google CoLab
# file='C:\\Users\\jeffh\\projects\\t81_558_deep_learning\\assignments\\assignment_yourname_class8.ipynb'  # Windows
# file='/Users/jheaton/projects/t81_558_deep_learning/assignments/assignment_yourname_class8.ipynb'  # Mac/Linux

In [25]:
# Begin assignment

df_train = pd.read_csv("https://data.heatonresearch.com/data/t81-558/datasets/shapes-train.csv")
df_submit = pd.read_csv("https://data.heatonresearch.com/data/t81-558/datasets/shapes-test.csv")

df_train2 = df_train 
df_submit2 = df_submit

#df_train['cost'] = (df_train['cost']-df_train['cost'].mean())/df_train.cost.std()

In [26]:
#df_train['cost'] = np.log(df_train['cost']+np.ones(len(df_train.cost)))

In [27]:

for i in df_train.columns.difference(['shape','id']):
    df_train[i] = df_train[i].astype(float)


df_train

         id  height  width  depth      shape  quality     cost
0         1    40.0   53.0   89.0   cylinder     89.0   200.49
1         2    85.0   35.0   51.0        box     37.0  1175.71
2         3    12.0   19.0   61.0        box     23.0   131.72
3         4    29.0   37.0   20.0        box     94.0    15.83
4         5    87.0   40.0   22.0   cylinder     54.0   340.21
...     ...     ...    ...    ...        ...      ...      ...
9995   9996    96.0   80.0   68.0        box     39.0  3918.36
9996   9997    55.0   36.0   93.0  ellipsoid     96.0    35.57
9997   9998    20.0   69.0   32.0        box     40.0   325.90
9998   9999    52.0   95.0   99.0        box     92.0   481.23
9999  10000    20.0   82.0   47.0        box     13.0   824.83

[10000 rows x 7 columns]

In [28]:
# Calculating volumes

# volume cylinder
#
# cylinder_vol = area base x height = pi x (width/2)^2 x height
# box_vol = heigth*width*depth
# elip_vol = width x height x length x pi / 6

df_train['volume'] = len(df_train['shape'])*[0]
df_train['base_area'] = len(df_train['shape'])*[0]

def volume(df_train):
      for i in df_train[df_train['shape'] == 'cylinder'].index:
              df_train.volume[i] = math.pi*(df_train.width[i]/2.0)**2*df_train.height[i]
      for i in df_train[df_train['shape'] == 'box'].index:
              df_train.volume[i] = df_train.width[i]*df_train.height[i]*df_train.depth[i]
      for i in df_train[df_train['shape'] == 'ellipsoid'].index:
              df_train.volume[i] = df_train.width[i]*df_train.height[i]*df_train.depth[i]*(math.pi/6.0)
      return df_train

def area(df_train):
      for i in df_train[df_train['shape'] == 'cylinder'].index:
              df_train.base_area[i] = math.pi*(df_train.width[i]/2.0)**2
      for i in df_train[df_train['shape'] == 'box'].index:
              df_train.base_area[i] = df_train.width[i]*df_train.depth[i]
      for i in df_train[df_train['shape'] == 'ellipsoid'].index:
              df_train.base_area[i] = df_train.width[i]*df_train.depth[i]*(math.pi/6.0)
      return df_train

df_train = volume(df_train)
df_train = area(df_train)
df_train


# submit dataset

df_submit2['volume'] = len(df_submit['shape'])*[0.0]
df_submit2['base_area'] = len(df_submit['shape'])*[0.0]

def volume(df_submit2):
      for i in df_submit2[df_submit2['shape'] == 'cylinder'].index:
              df_submit2.volume[i] = float(math.pi)*(float(df_submit2.width[i])/2.0)**2*float(df_submit2.height[i])
      for i in df_submit2[df_submit2['shape'] == 'box'].index:
              df_submit2.volume[i] = float(df_submit2.width[i])*float(df_submit2.height[i])*float(df_submit2.depth[i])
      for i in df_submit2[df_submit2['shape'] == 'ellipsoid'].index:
              df_submit2.volume[i] = float(df_submit2.width[i])*float(df_submit2.height[i])*float(df_submit2.depth[i])*(math.pi/6.0)
      return df_submit2

def area(df_submit2):
      for i in df_submit2[df_submit2['shape'] == 'cylinder'].index:
              df_submit2.base_area[i] = math.pi*float(df_submit2.width[i]/2.0)**2
      for i in df_submit2[df_submit2['shape'] == 'box'].index:
              df_submit2.base_area[i] = float(df_submit2.width[i])*float(df_submit2.depth[i])
      for i in df_submit2[df_submit['shape'] == 'ellipsoid'].index:
              df_submit2.base_area[i] = float(df_submit2.width[i])*float(df_submit2.depth[i])*(math.pi/6.0)
      return df_submit2

df_submit2 = volume(df_submit2)
df_submit2 = area(df_submit2)
df_submit2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         id  height  width  ...  quality        volume    base_area
0     10001      67     26  ...       94  23714.835744   353.952772
1     10002       8     99  ...       50  61581.499196  7697.687399
2     10003      75     55  ...       65  10799.224747   143.989663
3     10004      32     47  ...        1  78208.000000  2444.000000
4     10005      83     19  ...       34  46240.055071   557.109097
...     ...     ...    ...  ...      ...           ...          ...
1995  11996      73     85  ...        3  90970.051272  1246.165086
1996  11997      36     32  ...        7  32572.032632   904.778684
1997  11998      36     47  ...       28  42524.598159  1181.238838
1998  11999      14     39  ...       23  16724.268491  1194.590607
1999  12000      35     33  ...       99   4620.000000   132.000000

[2000 rows x 8 columns]

In [29]:
# Feature engineering

# We should apply feature engineering to the variable shape

dummies = pd.get_dummies(df_train['shape'],prefix = "shape")
df_train = pd.concat([df_train,dummies],axis=1)

In [30]:
df_train.drop('shape', axis=1, inplace=True)

In [31]:
dummies = pd.get_dummies(df_submit['shape'],prefix = "shape")
df_submit2 = pd.concat([df_submit,dummies],axis=1)
df_submit2.drop('shape', axis=1, inplace=True)
df_submit2.drop('id', axis=1, inplace=True)

In [32]:
#df_train['cost'] = stats.zscore(df_train['cost'])
df_submit2

      height  width  depth  ...  shape_box  shape_cylinder  shape_ellipsoid
0         67     26     26  ...          0               0                1
1          8     99     86  ...          0               1                0
2         75     55      5  ...          0               0                1
3         32     47     52  ...          1               0                0
4         83     19     56  ...          0               0                1
...      ...    ...    ...  ...        ...             ...              ...
1995      73     85     28  ...          0               0                1
1996      36     32     54  ...          0               0                1
1997      36     47     48  ...          0               0                1
1998      14     39      2  ...          0               1                0
1999      35     33      4  ...          1               0                0

[2000 rows x 9 columns]

In [33]:
df_submit2

      height  width  depth  ...  shape_box  shape_cylinder  shape_ellipsoid
0         67     26     26  ...          0               0                1
1          8     99     86  ...          0               1                0
2         75     55      5  ...          0               0                1
3         32     47     52  ...          1               0                0
4         83     19     56  ...          0               0                1
...      ...    ...    ...  ...        ...             ...              ...
1995      73     85     28  ...          0               0                1
1996      36     32     54  ...          0               0                1
1997      36     47     48  ...          0               0                1
1998      14     39      2  ...          0               1                0
1999      35     33      4  ...          1               0                0

[2000 rows x 9 columns]

In [34]:
# Neural network

# Train a model to predict cost when given the following inputs: 
# 'height', 'width', 'depth', 'quality','shape_box','shape_cylinder','shape_ellipsoid'.

y = df_train.cost.values
x = df_train.drop(df_train.columns.difference(['height', 'width', 'depth', 'quality','shape_box','shape_cylinder','shape_ellipsoid','volume','base_area']), axis = 1).values
y.shape

# Neural network predicting cost - regularization methods are applied

from sklearn import metrics
from sklearn.model_selection import KFold
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras import regularizers


# Cross-Validate + early stopping
kf = KFold(5, shuffle=True, random_state=42) # Use for KFold classification
    
oos_y = []
oos_pred = []

fold = 0
for train, test in kf.split(x):
    fold+=1
    print(f"Fold #{fold}")
        
    x_train = x[train]
    y_train = y[train]
    x_test = x[test]
    y_test = y[test]
    
    #  I added these layers just to try - I don't know if this approach is correct. Previously, I was using two layers.

    model = Sequential()
    model.add(Dense(100, input_dim=x.shape[1], activation='relu',kernel_regularizer=regularizers.l2(1e-4), bias_regularizer=regularizers.l2(1e-4)))
    model.add(Dense(100, input_dim=x.shape[1], activation='relu',kernel_regularizer=regularizers.l2(1e-4), bias_regularizer=regularizers.l2(1e-4)))
    model.add(Dense(100, input_dim=x.shape[1], activation='relu',kernel_regularizer=regularizers.l2(1e-4), bias_regularizer=regularizers.l2(1e-4)))
    model.add(Dense(100, input_dim=x.shape[1], activation='relu',kernel_regularizer=regularizers.l2(1e-4), bias_regularizer=regularizers.l2(1e-4)))
    model.add(Dense(25, input_dim=x.shape[1], activation='relu',kernel_regularizer=regularizers.l2(1e-4), bias_regularizer=regularizers.l2(1e-4)))
    model.add(Dense(1))
    model.compile(loss='mean_squared_error', optimizer='adam')
    custom_early_stopping = EarlyStopping(monitor='val_loss', patience=5, min_delta=0.0001)    
    model.fit(x_train,y_train,validation_data=(x_test,y_test),verbose=0,epochs=1500,callbacks=[custom_early_stopping])
    
    pred = model.predict(x_test)
    
    oos_y.append(y_test)
    oos_pred.append(pred)    

    # Measure this fold's RMSE
    score = np.sqrt(metrics.mean_squared_error(pred,y_test))
    print(f"Fold score (RMSE): {score}")

# Build the oos prediction list and calculate the error.
oos_y = np.concatenate(oos_y)
oos_pred = np.concatenate(oos_pred)
score = np.sqrt(metrics.mean_squared_error(oos_pred,oos_y))
print(f"Final, out of sample score (RMSE): {score}")    
    
# Write the cross-validated prediction
oos_y = pd.DataFrame(oos_y)
oos_pred = pd.DataFrame(oos_pred)
oosDF = pd.concat( [oos_y, oos_pred],axis=1 )

Fold #1
Fold score (RMSE): 579.9972899298914
Fold #2
Fold score (RMSE): 724.3752828584459
Fold #3
Fold score (RMSE): 634.0994225604047
Fold #4
Fold score (RMSE): 663.9878691173261
Fold #5
Fold score (RMSE): 630.368730617129
Final, out of sample score (RMSE): 648.2967085075364

In [35]:
x

array([[40., 53., 89., ...,  0.,  1.,  0.],
       [85., 35., 51., ...,  1.,  0.,  0.],
       [12., 19., 61., ...,  1.,  0.,  0.],
       ...,
       [20., 69., 32., ...,  1.,  0.,  0.],
       [52., 95., 99., ...,  1.,  0.,  0.],
       [20., 82., 47., ...,  1.,  0.,  0.]])

In [36]:
# Prediction cost (this is 'submit' dataset)
# 'height', 'width', 'depth', 'quality','shape_box','shape_cylinder','shape_ellipsoid','volume,'base_area'.

x_submit = df_submit2.values
y_submit = model.predict(x_submit)
y_submit

array([[119.20767 ],
       [318.95105 ],
       [ 54.17688 ],
       ...,
       [220.79472 ],
       [ 84.54677 ],
       [ 24.198406]], dtype=float32)

In [37]:
df_submit2

      height  width  depth  ...  shape_box  shape_cylinder  shape_ellipsoid
0         67     26     26  ...          0               0                1
1          8     99     86  ...          0               1                0
2         75     55      5  ...          0               0                1
3         32     47     52  ...          1               0                0
4         83     19     56  ...          0               0                1
...      ...    ...    ...  ...        ...             ...              ...
1995      73     85     28  ...          0               0                1
1996      36     32     54  ...          0               0                1
1997      36     47     48  ...          0               0                1
1998      14     39      2  ...          0               1                0
1999      35     33      4  ...          1               0                0

[2000 rows x 9 columns]

In [38]:
#y_submit = np.exp(y_submit)-1
#y_submit = df_train2['cost'].std()*y_submit+df_train2['cost'].mean()

In [39]:

y_submit

array([[119.20767 ],
       [318.95105 ],
       [ 54.17688 ],
       ...,
       [220.79472 ],
       [ 84.54677 ],
       [ 24.198406]], dtype=float32)

In [40]:
# Creating submit dataframe
#y_submit = (y_submit)*df_train['cost'].std()+df_train['cost'].mean()
y_submit = pd.DataFrame(y_submit)
df_submit = pd.concat([df_submit,y_submit],axis=1)
df_submit.rename(columns = {0:'cost'}, inplace = True) 
df_submit.drop(['height', 'width', 'depth', 'shape', 'quality','volume','base_area'], axis=1, inplace=True)
df_submit

         id        cost
0     10001  119.207672
1     10002  318.951050
2     10003   54.176880
3     10004  405.375244
4     10005  242.059555
...     ...         ...
1995  11996  473.428467
1996  11997  171.928619
1997  11998  220.794724
1998  11999   84.546768
1999  12000   24.198406

[2000 rows x 2 columns]

In [41]:
#df_submit['cost'] = df_submit['cost']*df_train2['cost'].std()+df_train2['cost'].mean()

for i in range(len(df_submit.cost)):
    print(df_submit.cost[i])

119.20767
318.95105
54.17688
405.37524
242.05956
250.07439
587.9855
2636.3552
316.22656
370.45966
271.55154
1988.693
213.47003
732.06946
354.46173
453.22906
205.06494
21.307793
633.2201
129.12799
3024.6077
273.3747
2.639803
1416.838
37.087505
875.7533
23.077105
816.6141
5.119822
202.16148
371.4635
651.09375
334.41397
1073.1329
405.09586
973.7948
1764.4955
384.47882
543.00195
369.48267
149.76488
466.81006
938.9148
35.72274
900.0835
856.7222
30.476732
200.35783
1766.2533
737.7855
1.7684404
61.622066
131.87271
688.44385
87.91551
122.03189
343.3887
18.250051
354.93243
289.3448
2267.2341
932.67114
643.376
2957.216
221.1108
555.2803
1198.3007
341.8963
365.87296
375.5838
288.72797
354.72977
1097.5594
17.468887
2.2358847
138.02913
1223.579
264.6538
834.0609
15.409286
499.46558
362.4112
655.4705
1109.5326
0.31117976
22.397467
24.332964
546.7235
47.231075
1663.065
2892.4285
2286.852
980.58417
37.992985
33.193764
43.98174
18.727522
993.29285
271.54782
58.64412
689.87463
473.81287
315.1455
280.90674
1739.9789
74.01766
307.82803
39.569122
1736.2
535.4199
153.75778
1420.9689
607.98804
807.794
32.577454
234.09042
13.525519
95.64185
15.849973
1458.6364
1719.6781
1077.0393
271.78677
347.35425
1373.8368
215.57968
520.34814
169.52696
525.44507
32.79563
1305.5236
85.58088
484.33466
29.506075
1234.0768
26.82813
32.21006
605.3677
98.498245
539.1493
3082.3442
415.44403
5.4563046
69.795425
873.94763
774.8656
170.49126
196.05574
91.41939
2063.661
150.1712
890.6653
91.89373
172.92055
3045.4875
0.49249518
607.87366
710.2605
138.26073
831.9871
1769.1711
346.09894
246.71095
767.9288
36.13039
296.17032
220.90352
36.297268
361.84564
442.85297
64.53598
1058.4869
114.60364
1558.0485
287.02072
410.02896
260.6814
1451.4482
551.7606
268.03894
20.634924
307.75137
60.91409
46.17649
917.3838
848.00653
86.481804
31.295883
123.525215
321.25412
930.4281
49.300854
448.30045
324.32355
1235.4803
1244.2732
161.10512
5.8254347
1054.73
151.98042
35.610626
949.7511
510.71704
425.1709
151.0864
1656.6775
1029.9739
7.262084
758.5473
299.30066
340.02936
46.978386
138.0546
61.152462
1821.1692
644.3179
68.79959
180.80707
676.57007
1429.3949
575.5283
1.8421679
92.27264
593.3577
242.75783
1208.161
4.0600796
295.1622
13.501039
2347.2405
21.538065
90.944435
550.81976
1112.9445
33.883835
141.98854
56.94578
52.081814
36.642178
324.54208
173.68282
26.140802
6.5326743
401.1686
366.7429
827.2776
462.6623
313.97125
2777.5159
337.8601
147.62956
83.82245
1606.4669
82.41866
2603.5813
802.63416
78.39317
161.62039
346.2922
383.5286
162.20161
430.37665
26.611996
73.370544
660.8257
2038.4005
770.96545
447.4216
364.77533
517.3849
281.36237
662.02435
4.8325996
72.8515
244.73685
411.92218
105.159775
1986.5792
404.2906
1527.3081
277.66534
994.46375
315.91833
131.55405
1256.197
644.282
1091.9191
32.206264
39.12328
675.20276
991.061
647.15027
231.8391
36.279903
1291.4735
47.382156
1097.4703
0.8649987
1115.915
288.07693
26.660223
175.65033
118.8977
52.678432
1010.10095
338.3069
17.22442
39.853016
440.9643
462.80048
144.62622
120.26979
406.7034
71.76255
3001.423
339.20587
1.3987688
25.518705
387.3211
210.97151
437.04816
1762.6757
21.93833
99.74047
192.95177
206.97858
81.55333
40.557037
216.23756
436.65558
1762.179
343.4239
350.11746
236.67268
30.762636
472.14075
103.35122
555.80347
2237.9712
1734.7203
246.05049
699.5559
273.25
163.56749
7.8869004
141.14952
934.84644
2079.8057
3.610683
246.8567
170.85143
427.1601
366.70966
439.93066
3014.331
402.8631
2496.1323
734.7296
2168.5828
100.04909
708.55945
1446.8439
746.91034
140.57779
36.310566
1458.7479
278.81738
84.58172
125.559814
165.51653
8.269568
295.0113
746.23804
1279.1595
28.806341
687.14636
2124.3938
36.764076
839.6643
47.662273
87.317154
13.198365
1231.1122
29.833689
637.7287
446.4665
31.65001
54.497543
518.7543
121.74651
851.58704
183.14246
3.4123015
49.98023
195.86263
911.05884
1934.764
572.162
31.076078
287.40567
252.76491
235.79576
1277.0178
111.349014
108.938644
2492.536
63.026505
180.19933
125.13367
237.95598
1896.2544
95.59922
630.7091
1765.374
720.17883
260.54858
381.89352
273.18674
31.821203
672.19556
2791.05
388.89258
337.02228
137.25241
28.723806
298.83472
194.12871
94.23104
2678.1921
54.24315
120.87018
1363.4785
144.6408
86.06589
859.55884
530.81006
1012.4407
1264.2289
23.513523
91.16941
633.9105
24.577663
1172.0122
5.1539655
124.35338
1314.9576
309.52676
1069.0154
317.6914
371.57242
131.36513
154.57817
131.00545
623.28723
1202.622
118.408615
145.75526
62.83304
224.53825
26.84396
232.60675
113.517
380.20615
223.42307
1001.1969
796.92645
58.202938
1018.0821
365.41345
140.63954
1780.733
305.13303
1710.8109
136.77081
592.8808
19.21729
249.17717
1000.8384
92.22543
1023.4338
209.66132
217.29045
295.8115
1266.3594
317.92584
69.0807
425.79666
1627.5883
396.97137
247.05833
706.21924
241.07014
1150.247
1461.1309
1694.2351
61.971516
153.02548
1965.0707
176.95906
352.7998
51.015186
241.455
57.69163
325.36044
98.63252
144.45024
255.02846
85.01347
99.65581
473.66754
92.80633
1459.7689
365.35373
348.46564
413.95883
1777.6215
437.4328
2406.9207
424.08832
64.41501
69.74088
53.32956
67.81214
22.539686
199.62709
291.5448
1305.8715
962.6875
288.7383
794.8425
1655.6102
19.856253
8.906286
84.752625
11.019197
1044.0409
44.36409
25.855978
749.35156
144.6074
524.5509
2208.715
527.1647
527.69604
742.4474
255.95245
2793.5369
550.3631
501.56372
975.302
673.0166
136.15315
55.05063
1101.0377
220.3897
698.67395
68.87179
25.189432
435.0079
87.390175
518.221
686.2375
393.89606
754.80005
985.00616
63.68693
2037.9656
816.4077
1133.9053
134.60725
331.2776
43.659576
643.5821
208.62863
255.09146
137.89906
1131.1576
37.61678
204.52483
404.9882
20.179327
484.8968
1590.4326
168.88881
1522.0808
277.1209
111.41115
483.91663
702.9419
2221.5134
198.55014
192.36243
1077.0367
841.624
215.10117
1352.1405
81.833046
106.591515
785.8954
539.03394
79.04031
314.15662
20.34215
296.5736
51.24921
255.54672
491.5407
607.808
76.28642
1670.0422
596.75793
535.12964
24.285135
2418.2156
397.1288
508.25677
1547.7655
58.150112
135.5153
-1.6524936
912.7613
604.4027
12.147382
3074.7578
43.018948
1159.7554
115.510605
66.21889
42.90518
345.24893
99.72043
2953.4185
2368.119
864.2718
1104.715
0.41159952
22.619822
17.915499
317.22284
84.70202
639.3448
918.0691
53.341457
33.33427
1923.3376
60.33076
231.10928
54.977356
510.78546
29.015858
57.62801
62.76509
233.87584
115.99402
1390.839
897.99805
1.0332206
640.26917
866.765
425.08093
48.131245
3005.111
425.0401
2561.2034
289.1066
1814.6241
339.82153
621.8616
103.04264
1705.2776
26.293869
621.1078
11.032393
1321.4653
909.52716
277.22928
1364.9463
314.8849
177.81651
1752.2789
2490.8486
170.98235
986.44604
1144.6963
103.11694
1481.5048
27.565817
86.88673
57.377613
537.33344
1549.6355
1029.9166
1638.2898
1658.725
45.87278
249.85881
231.30478
475.34076
2370.3164
977.0821
600.02136
1743.7333
221.29959
249.17616
677.498
731.37195
760.8775
77.88466
2641.6814
3151.3716
3390.5916
204.58125
441.45465
9.773984
1706.2003
0.79980505
57.076687
21.408197
1659.3436
192.55304
108.33862
48.874943
78.22987
391.73828
143.70436
495.1269
148.14018
135.06084
17.131973
397.22247
160.74513
25.30182
256.27753
1188.7133
1902.3944
1975.7312
1197.5333
34.58627
331.94098
93.64836
24.565079
183.93431
67.324
26.254694
575.40735
1411.7275
41.258003
142.29578
966.7292
10.316961
71.05911
311.14575
383.6415
32.760105
1115.3217
52.961082
173.84477
925.4933
188.56694
1470.9377
331.74307
152.96207
351.55484
912.6932
1152.9562
1444.0804
21.452456
1248.6718
28.4979
158.79091
129.81154
86.57512
368.22595
85.8976
71.645355
83.64749
25.37264
64.687355
39.7926
1197.7706
149.59544
73.52079
821.65674
23.136198
40.228733
231.1254
581.2475
30.9844
47.14229
26.397078
989.1286
2549.2878
1589.3875
825.6086
475.65027
30.727194
161.07092
356.81244
160.37547
406.05197
306.667
564.1122
384.44403
35.811703
238.842
267.0658
233.08315
251.03545
191.03642
573.0645
514.5001
24.774149
25.194946
67.00886
364.4271
87.67887
499.28662
245.35701
1658.3346
377.09528
1023.90436
-1.6230353
1212.8655
117.33165
563.7786
2.5257196
420.92346
16.580091
28.522007
758.8692
823.7862
26.753994
1215.6813
845.0805
49.14891
787.93304
2737.3972
582.89233
44.436245
581.5277
45.845
837.1721
58.59096
532.63513
1527.9099
489.82266
945.8052
43.199635
91.1366
1070.9009
301.4367
1931.9902
1055.216
290.69818
244.31451
1275.8126
26.870382
766.4218
1485.1028
52.48187
792.7384
88.15759
110.72398
400.2667
1.0146822
88.12435
929.3861
1224.4542
897.58984
176.41632
557.8281
319.9444
12.3759
35.143948
1109.8641
637.9391
324.34442
145.09514
38.662407
1036.3011
2046.2596
32.225075
708.0873
242.51976
1736.5409
349.3467
686.3041
201.26662
64.43948
3400.8386
904.0957
32.5722
843.5487
247.24147
746.89764
252.63148
3.2724376
398.31543
11.319228
438.05286
2079.3674
118.18045
297.62497
57.054935
64.464874
1807.3716
964.44324
330.39905
206.39601
36.42566
407.06555
316.75146
655.07874
534.50385
39.873627
25.35771
1192.539
31.306425
213.05734
3037.7317
228.88274
518.18713
216.532
221.48729
894.13025
377.44504
342.06122
95.87181
149.85507
266.00952
296.65958
104.536194
625.84827
4.4219584
5.883574
2235.3398
164.9245
502.28168
38.211094
1080.1924
525.5719
58.49452
77.095375
1.304499
6.119948
201.20189
348.00592
201.38252
350.60858
1658.0793
1301.87
214.06178
3052.9255
10.563272
146.30275
410.3368
489.62857
1847.853
917.1721
673.17633
27.738268
64.03195
939.27783
94.68541
651.34955
167.15741
1680.859
464.98782
3585.729
1.7247568
523.14386
2547.5432
40.8744
552.09406
1.2514721
12.721874
260.0568
238.00601
320.29956
971.56104
139.06221
30.093737
54.228092
51.889927
69.78416
46.773556
1091.3284
217.64182
1.2514795
623.6042
458.11084
131.70438
24.74243
660.8974
1.0843469
84.174194
8.2562895
269.22684
556.938
300.287
38.462124
195.17262
1679.2284
474.34583
3.1027598
579.8085
825.391
376.00922
567.82336
443.7386
875.619
69.116684
787.004
1480.3358
1397.8562
599.20056
1655.2806
247.1331
386.58902
842.6173
305.58856
65.02302
92.256134
258.8927
56.635822
50.167442
953.52563
149.9193
1579.0657
177.2053
100.89176
1139.9186
21.125622
99.73802
490.22913
946.41626
441.69446
205.43738
806.18634
309.41376
634.13574
1745.2843
886.6002
48.51897
52.487244
85.82003
174.06392
170.79936
289.87866
72.1024
82.68949
983.84454
143.52028
37.402996
830.7895
1.7953242
41.03456
256.09344
577.737
1081.2896
1061.8925
767.96326
2137.0837
1508.8226
170.01866
244.03119
1334.1744
42.316425
23.809473
1026.5117
354.8675
1065.6305
883.1273
289.75745
117.22217
935.964
460.67618
514.0156
20.220785
44.652657
286.19128
80.542885
34.000412
60.78664
57.67965
1826.1527
-0.04117024
275.07837
406.52728
792.2903
237.62047
117.82809
2821.7876
128.20006
3.758882
248.78186
602.3347
2009.1064
660.60803
875.9682
293.273
381.4
19.81547
3065.7617
339.38196
21.123962
237.77602
1839.8666
830.1819
110.616516
127.91763
110.45142
332.69745
244.03218
315.8356
144.79909
281.92557
50.405506
137.85551
1366.213
1394.2375
35.769447
68.68575
1416.1901
364.87442
105.28202
458.42108
1460.1918
590.9518
1306.8771
3151.846
72.72692
583.8203
261.92096
1446.4218
29.405035
96.66561
487.35452
469.89258
173.7013
14.3592005
10.87808
2749.4673
814.51917
48.316265
188.31848
1041.3344
0.44401062
3277.529
276.6149
521.5791
38.720913
173.11583
136.73332
186.12613
451.71942
252.5329
339.95062
181.49606
19.772385
30.441053
271.06357
416.7885
129.91356
100.587875
254.52736
446.34164
11.36363
1009.9626
476.26486
64.41219
1637.7655
150.07635
35.236095
83.89777
233.54436
155.1874
780.5866
346.33502
1358.6578
250.3128
203.02725
1386.5419
11.344149
5.9775057
1102.8492
87.10833
306.11487
638.45435
53.8585
1578.4336
72.71563
600.8442
109.07251
40.090977
43.674694
1903.6741
348.56506
1128.0679
4.8607893
26.532476
398.93976
614.30206
383.73016
89.320496
517.0255
1757.7086
509.02704
681.2029
1114.6345
234.25209
412.58374
932.76917
51.11353
1177.2156
1778.6849
542.3068
690.29395
165.02284
56.64391
737.276
163.0829
229.84346
756.81573
917.3433
371.24133
696.8177
71.215935
540.1164
567.6658
71.89095
40.73116
690.8704
38.38531
129.50952
583.18945
368.99365
1900.1814
324.86487
224.9325
49.086727
85.29378
203.31387
85.08841
691.68286
328.7521
64.65401
16.351828
29.146511
1443.99
1122.7784
1830.6687
92.60153
368.38538
284.1879
32.357803
184.81328
1997.7823
1679.5814
231.44911
1825.0343
17.804844
1566.867
190.8944
1338.925
2111.8933
141.96663
1383.6456
27.619467
273.12125
368.16174
433.2102
179.307
1941.4586
50.335842
323.79697
2910.0496
6.391363
884.8225
1339.0035
5.8310604
479.98895
206.11247
677.7123
102.95291
844.5261
336.85556
1297.0175
50.625477
669.6287
701.82
21.907984
45.609524
784.05786
360.47733
56.05413
386.6372
297.15448
1.9356049
440.59286
381.0488
147.92174
2456.8096
9.638431
3374.6619
112.61629
99.04483
869.24414
725.156
779.48596
385.31775
25.174253
212.69048
174.94968
259.96127
680.122
1325.6354
318.44162
2248.2424
634.7903
76.32941
406.41055
1130.5582
161.28055
240.48633
1694.1173
102.43328
157.9778
464.4699
378.45407
31.709192
1622.8804
145.41408
935.338
84.41222
71.30343
1690.7096
208.80278
1887.2742
30.472685
6.793961
1565.4974
1100.9277
33.833622
1465.6031
157.46399
1516.322
128.6066
727.5445
38.99503
1663.8722
569.77966
124.548065
285.8675
989.65894
116.74033
524.2431
1045.5026
133.7611
771.2223
67.87475
155.98602
399.12985
1229.5038
315.43152
9.149723
3.0209112
1082.5143
1170.0159
29.358145
377.52692
279.60876
1123.5137
131.42564
273.26083
174.65405
234.6895
83.54225
62.699356
64.11253
1981.3007
45.528797
10.845151
165.40651
123.01767
949.55646
72.80707
289.52145
1084.4136
47.66779
778.51544
22.611916
979.0543
459.05215
1531.868
50.864975
1310.5109
709.15216
1106.9564
164.24783
192.44536
42.458908
195.16246
201.66661
2303.7002
72.750885
1878.153
396.13562
452.58502
1174.9694
27.937132
583.896
150.86752
1763.7561
90.74974
1180.0876
719.5615
679.5434
2103.4172
614.926
237.0212
1394.0728
234.04167
14.182635
119.653656
133.37221
1293.5272
229.98949
535.44653
2814.9905
97.16097
85.004524
656.61523
459.9433
154.78564
625.30664
145.17766
359.8213
393.07846
1437.1233
247.06505
552.57007
112.78371
257.0288
3075.488
411.2868
302.99908
80.64728
193.01437
161.64926
292.57434
863.5639
408.9946
33.51525
98.97721
51.266487
68.88986
453.71475
40.70762
306.23312
664.6664
796.81433
1069.1968
321.58887
160.32458
50.484123
948.57025
494.69626
40.593212
2334.1108
14.8888035
428.76056
15.434929
257.42502
118.66135
202.20326
2.6700892
25.162613
290.9494
7.538719
665.4474
43.272976
15.050098
472.11334
912.598
749.58673
207.2635
676.80865
52.341873
40.255558
1714.05
194.15996
1472.8566
47.839287
539.2949
212.53662
40.18355
23.345259
14.182161
84.49534
978.4313
11.303603
889.0104
91.86693
1076.5157
318.36914
555.6906
1317.0167
27.198473
1172.9386
1537.6841
86.46687
777.8574
91.95732
4.9735565
152.18736
222.05363
1222.675
652.1704
54.39105
263.94946
436.1673
258.3086
2815.618
1561.9751
94.70152
48.043556
254.82027
138.43729
246.64894
25.643148
525.51105
491.21463
252.5172
1275.8838
1539.5885
2278.657
267.8383
284.19473
47.009514
1713.8896
253.34933
13.476176
78.419876
461.70053
408.21808
2512.362
164.92517
28.393705
1650.3569
513.1175
42.032562
141.65668
87.55992
769.0278
896.0673
1172.3756
32.696507
121.387825
16.744967
-0.16773713
40.755527
1085.7274
221.37215
123.3248
127.40847
645.7668
572.2268
291.71756
137.97423
241.44374
501.2677
299.79266
473.3094
61.676056
41.87566
205.6044
10.593133
102.48141
65.17502
483.36792
623.852
151.18187
832.53656
746.777
24.818838
18.135374
144.6618
44.494183
889.5341
1633.6973
324.67746
473.09213
304.85455
474.0177
9.281412
277.85785
39.833588
1124.6088
387.7434
301.16022
4.7467556
168.75807
2192.9617
180.9895
29.671053
56.998783
191.36913
3218.884
486.39297
7.714285
180.69435
271.40588
676.59796
415.54163
387.83676
1754.5586
143.0538
460.62344
311.12173
1035.2557
107.36418
47.7068
1544.1261
570.0204
1077.6788
377.17273
105.78063
1291.5474
169.10904
11.428398
1049.9281
765.8553
48.136547
76.50511
353.2552
33.91436
32.096745
118.67629
502.38434
465.82047
232.71527
87.92465
15.446164
2.831956
1169.1029
448.2337
71.32523
1672.985
317.0879
104.45129
186.7479
23.742777
58.63473
1266.1765
458.0503
1557.555
235.16563
885.50024
131.33902
71.37046
386.31195
337.2318
46.955013
140.35428
33.137543
43.34435
554.30096
170.77502
332.23996
237.97374
1011.7564
1987.8512
50.997066
1737.7806
2081.9473
45.61594
267.93832
81.89797
94.80175
716.4916
303.55658
24.264057
46.820133
175.87032
210.35861
2228.8892
453.713
1344.9655
2131.5237
226.84293
52.564865
10.314665
490.34674
127.99986
114.85149
1162.3624
195.02707
39.957493
883.2456
85.55385
1427.541
24.211649
38.194447
43.903183
771.67957
995.0559
315.48666
162.05434
96.272484
909.65137
3267.4927
290.2784
256.45474
54.736675
2695.5178
252.59306
232.64293
100.066986
54.95117
190.37393
79.846115
80.52206
92.41358
2979.1802
140.00478
663.59033
964.8949
583.6725
1283.2358
105.24415
983.1377
142.14468
23.344675
1455.2557
79.03689
1067.8632
-0.42200077
329.86853
779.0309
229.80272
811.4978
71.46408
360.9038
1940.479
260.1038
1348.7906
6.4814796
699.97546
192.51898
11.875214
84.31238
72.881516
181.4662
107.946655
127.167145
962.671
128.68509
289.48007
259.6364
143.90656
1044.2782
2.5156405
248.17711
117.33077
313.59766
40.19906
117.16114
1250.6533
303.6966
1036.12
1194.633
338.40314
603.73914
606.9216
14.574655
1283.5673
814.2754
2561.5515
204.69502
17.165688
4.5317407
1218.5309
75.48918
117.16582
247.91766
51.039967
521.24115
23.69018
481.94516
2148.2317
372.6506
304.7756
8.0932665
530.97107
288.40817
50.124096
52.15456
571.9499
1188.247
443.1067
166.06471
249.10536
171.88535
42.41819
946.1644
144.75078
125.77136
35.11992
829.44995
203.26315
858.9093
26.783491
200.19678
1061.2898
90.976105
349.47333
98.007866
27.354076
170.51756
30.106966
466.48636
406.75595
339.13834
65.73749
156.87338
56.575645
1824.257
415.16476
1336.4832
695.5827
146.27211
79.907684
1909.5201
230.74628
32.9069
283.20026
1905.3615
1572.1823
-0.23102248
76.08597
31.435034
1873.3417
654.8456
221.63112
461.5912
313.217
200.51082
221.09532
983.61255
221.6049
662.693
10.831594
7.598623
42.426727
391.13153
456.20172
247.71185
133.65074
1141.6613
300.23608
310.9455
125.77238
1164.1067
16.718702
1240.5417
51.03145
430.94464
28.731539
185.90826
54.29077
145.569
29.763933
391.71802
73.511154
150.80222
2335.599
1406.911
271.53772
50.89026
90.745186
1838.9756
1028.5216
34.875706
406.95807
9.247792
46.33561
1222.3828
2020.7042
89.04145
746.0462
144.34587
517.49615
375.52344
296.08618
1205.1318
333.2876
176.82748
150.17996
1204.7922
1618.9662
170.26465
2491.9382
52.64185
39.1479
93.50467
70.481705
238.26364
454.45883
398.59958
504.48474
19.870592
1366.6322
368.17438
842.47437
191.14809
414.52295
479.79236
59.33799
27.515863
457.07642
665.7627
361.46826
105.0606
1432.4248
96.14795
38.29494
172.09958
46.14556
838.47125
1162.1399
1349.6375
56.501717
2.6477857
52.34647
174.5864
84.499664
1.5101105
65.136406
287.63556
726.9495
119.163864
704.5828
1179.2313
734.3004
125.906296
56.860165
96.638245
24.08306
7.7592607
71.7842
37.00386
1814.3868
76.955574
752.48566
464.0865
278.82132
480.33426
372.05533
512.1472
531.88055
266.11032
988.2834
182.48592
514.40027
376.09024
710.1039
75.70778
616.5569
2724.3315
1958.8424
2115.1133
690.2907
45.739815
25.944035
585.92773
194.9825
1484.8154
39.817337
58.097256
2298.6636
51.990627
787.7864
274.0357
792.7505
265.39792
125.03055
2234.0527
7.8770623
244.60072
16.446995
2.0731926
151.28209
522.03314
192.6021
473.42847
171.92862
220.79472
84.54677
24.198406

In [42]:
#submit function

submit(source_file=file,data=[df_submit],key=key,no=8)

Success: Submitted Assignment 8 for victor.macia:
You have submitted this assignment 160 times. (this is fine)
Note: The mean difference 0.9022847207050972 for column 'cost' is acceptable and is less than the maximum allowed value of '1.0' for this assignment.
No warnings or errors (only notes), you will probably do well, but no guarantee. :-)